<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的角色</title>
</head>
<body>
<div id="user_player">
    <h1>我的角色列表</h1>
    <table border="1px">
        <tr>
            <th>角色</th>
<!--            <th>(<a th:href="www.baidu.com">添加</a>)</th>-->
            <th>装备</th>
        </tr>
        <tr th:each="players:${userPlayers}">
            <td th:text="${players.playerName}"></td>
            <td th:each="weapons:${userPlayers.weapons}">
                <!--<a th:href="www.baidu.com">查看</a>-->
                <!--<a th:href="www.baidu.com">修改</a>-->
                <!--<a th:href="www.baidu.com">删除</a>-->
            </td>
        </tr>
    </table>
</div>
</body>
</html>