<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成功</title>
</head>
<body>
<h3>用户信息</h3>
<table>
    <tr>
        <th>用户名</th>
        <th>账户类型</th>
        <th>最后一次登录时间</th>
        <th>登录状态</th>
        <th>角色</th>
    </tr>
    <tr>
        <td th:text="${user.username}"></td>
        <td th:text="${user.accountType}"></td>
        <td th:text="${user.lastLogin}"></td>
        <td th:text="${user.islogin}"></td>
        <td><a th:href="@{/getUserPlayers}">查看</a></td>
<!--        <td th:href="${user.}"></td>-->
    </tr>
</table><br>
<a th:href="@{/getPlayers}">所有角色</a><br>
<a th:href="@{/getWeapons}">所有武器</a><br>
<a th:href="@{/toplay}">玩游戏</a><br>
<a th:href="@{/logout}">退出</a>
</body>
</html>