<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macheng.mapper.PlayerMapper">
    <!--
        mapper接口和映射文件要保证两个一致
        1.mapper接口的全类名和映射文件的namespace的id值保持一致
        2.mapper接口中的方法的方法名要和映射文件的sql的id值保持一致
    -->
    <!--List<Player> getAllPlayer();-->
    <select id="getAllPlayer" resultType="Player">
        select * from t_player;
    </select>

    <!--Integer addPlayer(@Param("player") Player player);-->
    <insert id="addPlayer" parameterType="Player">
        insert into t_player values(#{player.playerName},#{player.userId},null)
    </insert>

    <!--Integer DeletePlayer(@Param("playerName") String playerName);-->
    <delete id="DeletePlayer">
        delete from t_player where player_id = #{playerId}
    </delete>

    <!--Integer UpdatePlayer(@Param("playerId") Integer playerId);-->
    <update id="UpdatePlayer" parameterType="Player">
        update t_player
        set player_name = #{player.playerName},user_id = #{player.userId}
        where player_id = #{player.playerId}
    </update>
</mapper>
