<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macheng.mapper.WeaponMapper">
    <!--Weapon getWeaponById(@Param("weaponId") Integer weaponId);-->
    <select id="getWeaponById" parameterType="Integer" resultType="Mu">
        select * from t_weapon where weapon_id = #{weaponId}
    </select>
    <!--List<Weapon> getAllWeapon();-->
    <select id="getAllWeapon" resultType="Mu">
        select * from t_weapon;
    </select>
    <!--Integer addWeapon(@Param("weapon") Weapon weapon);-->
    <insert id="addWeapon" parameterType="Mu"
            useGeneratedKeys="true" keyProperty="weapon.weaponId">
        insert into t_weapon
        values(null,#{weapon.weaponName},#{weapon.weaponDamage})
    </insert>
    <!--Integer deleteWeapon(@Param("weaponId") Integer weaponId);-->
    <delete id="deleteWeapon">
        delete from t_weapon where weapon_id = #{weaponId}
    </delete>

    <!--Integer updateWeapon(@Param("weaponId") Integer weaponId);-->
    <update id="updateWeapon" parameterType="Mu">
        update t_weapon
        set weapon_name = #{weapon.weaponName},
            weapon_damage = #{weapon.weaponDamage}
        where weapon_id = #{weapon.weaponId}
    </update>
</mapper>

