<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>角色列表</title>
</head>
<body>
<div id="player">
    <table>
        <tr>
            <th colspan="4">player_list</th>
        </tr>
        <tr>
            <th>角色ID</th>
            <th>名字</th>
            <th>用户ID</th>
<!--            <th>武器</th>-->
            <th>(<a th:href="@{/addPlayerPre}">添加</a>)</th>
        </tr>
        <tr th:each="players:${allPlayer}">
            <td th:text="${players.playerId}"></td>
            <td th:text="${players.playerName}"></td>
            <td th:text="${players.userId}"></td>
<!--            <td th:text="${players.weapons}" th:default="无"></td>-->
            <td>
                <a th:href="@{'/updatePlayerPre/'+${players.playerId}}">修改</a>
                <a th:href="@{'/deletePlayer/'+${players.playerId}}">删除</a>
            </td>
        </tr>
    </table>
</div>
<!--<script type="text/javascript" th:src="@{/statics/js/vue.js}"></script>-->
<!--<script type="text/javascript">-->
<!--    var vue = new vue({-->
<!--        el:"#player",-->
<!--        methods:{-->
<!--            deleteEmployee(){-->
<!--                //获取form表单-->
<!--                var form = document.getElementsByTagName("form")[0];-->
<!--                //将超链接的href属性值赋值给form表单的action属性-->
<!--                // event.target目标对象的触发对象-->
<!--                form.action = event.target.href;-->
<!--                //表单提交-->
<!--                form.submit();-->
<!--                //关闭超链接的默认行为-->
<!--                event.preventDefault();-->
<!--            }-->
<!--        }-->
<!--    })-->
<!--</script>-->
</body>
</html>